.banner {
  @include flex($align: center, $justify: center);
  width: 99.9%;
  height: 223px;
  position: relative;

  h1 {
    font-size: 48px;
    color: white;
    z-index: +1;
  }
  &__homepage:after {
    background: url(../../images/banner-img-1.png);
  }
  &__about:after {
    background: url(../../images/banner-img-2.png);
  }
  &:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    filter: brightness(70%);
    border-radius: 25px;
  }
}
