nav {
    @include flex($align: center);
    font-size: 24px;

    ul {
        @include flex($gap: 57px);
    }
    a {
        display: block;
        text-decoration: none;
        color: $primary-color;
        &.active {
            border-bottom: 1px solid $primary-color;
        }
    }

    @include screen-size(mobile-large) {
        ul {
            gap: 26px;
            margin-top: -10px;
        }
        a {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
