.active {
  border-bottom: 1px solid $primary-color;
}

header {
  @include flex($direction: row, $justify: space-between);
  max-width: 1240px;
  margin: auto;
  background-color: white;
  position: sticky;
  top: 0px;
  height: calc(45px + 68px);
  z-index: +2;
}
